---
  layout: default
  title: Inscripción recibida
  section: inscripcion
---
<h2>{{ page.title }}</h2>
  <p>Hemos recibido tus datos correctamente y ya deberías aparecer entre los <a href="pilotos.html">pilotos inscritos</a>.</p>
  
  <p>La cuota de inscripción es de <strong>30 €</strong> que puedes pagar al formalizar la inscripción antes del campeonato (ver lugar y horario en el <a href="downloads/Reglamento_I_Open_de_Ala_Delta_de_Pedro_Bernardo.pdf" title="Reglamento del Open de Pedro Bernardo en formato PDF">Reglamento</a>), o de forma anticipada (<strong>preferiblemente</strong>) haciendo una transferencia al siguente número de cuenta:</p>
  
  {% include account.html %}

  <p>Gracias por animarte a participar y... <strong>¡buenos vuelos!</strong></p>
  {% include animation.html %}
