<div class="center_wrapper">
  <div class="account">
    <h4>FlyTietar</h4>
    <p>2100 1214 06 0200032516</p>
    <p>Concepto: <strong>Open Ala Delta</strong></p>
  </div>
</div>
<p>Por favor, cuando realicéis la transferencia enviadnos un correo electrónico a <a href="mailto:opendeltietar@googlegroups.com">opendeltietar@googlegroups.com</a>, bien utilizando el servicio que ofrecen muchos bancos para notificar transferencias por correo electrónico, o manualmente indicándonos vuestro nombre y apellidos.</p>
<p>Para transferencias desde fuera de España podéis utilizar los siguientes códigos:</p>
<div class="center_wrapper">
  <div class="account">
    <p>IBAN: <strong>ES93 2100 1214 0602 0003 2516</strong></p>
    <p>SWIFT/BIC: <strong>CAIXESBBXXX</strong></p>
  </div>
</div>
