<div class="account_wrapper">
  <div class="account">
    <h4>Club de Vuelo y Montaña de Pedro Bernardo</h4>
    <p>CIF: G-05166558</p>
    <p>2038 7748 08 6000004223</p>
    <p>Concepto: <strong>Open de Ala Delta</strong></p>
  </div>
</div>
<p>Por favor, cuando realicéis la transferencia enviadnos un correo electrónico a <a href="mailto:opendeltietar@googlegroups.com">opendeltietar@googlegroups.com</a>, bien utilizando el servicio que ofrecen muchos bancos para notificar transferencias por correo electrónico, o manualmente indicando como asunto "<strong>PAGO DE INSCRIPCIÓN</strong>" y como mensaje vuestro <strong>nombre y apellidos</strong>.</p>
<p>Para transferencias desde fuera de España podéis utilizar los siguientes códigos:</p>
<div class="account_wrapper">
  <div class="account">
    <p>IBAN: <strong>ES22</strong></p>
    <p>SWIFT/BIC: <strong>CAHMESMMXXX</strong></p>
  </div>
</div>
