    <nav>
      <ul>
        <li{% if page.section == 'noticias' %} class="active"{% endif %}><a href="{{ site.url }}">Noticias</a></li>
        <li{% if page.section == 'presentacion' %} class="active"{% endif %}><a href="presentacion.html">Presentación</a></li>
        <li{% if page.section == 'reglamento' %} class="active"{% endif %}><a href="reglamento.html">Reglamento</a></li>
        <li{% if page.section == 'pilotos' %} class="active"{% endif %}><a href="pilotos_2012.html">Pilotos</a></li>
        <li{% if page.section == 'clasificacion' %} class="active"{% endif %}><a href="clasificacion_2012.html">Clasificación</a></li>
        <li{% if page.section == 'balizas' %} class="active"{% endif %}><a href="balizas.html">Balizas</a></li>
        <li{% if page.section == 'mapa' %} class="active"{% endif %}><a href="mapa.html">Mapa</a></li>
        <li{% if page.section == 'alojamiento' %} class="active"{% endif %}><a href="alojamientos.html">Alojamiento</a></li>
        <li{% if page.section == 'patrocinadores' %} class="active"{% endif %}><a href="patrocinadores.html">Patrocinan</a></li>
        <li{% if page.section == 'archivo' %} class="active"{% endif %}><a href="archivo.html">Archivo</a></li>
      </ul>
    </nav>
