<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Sitio web del I Open de Ala Delta de Pedro Bernardo, Ávila (España)">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 
    <base href="{{ site.url }}"/> 
    <title>I Open de Pedro Bernardo de Ala Delta</title>
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="styles/inspired_by_bundler_inspired.css" />
    <!--[if IE 6]>
      <link rel="stylesheet" type="text/css" href="styles/ie6.css" />
    <![endif]-->
</head>
<body>

<header>

    <h1>I Open de Pedro Bernardo de Ala Delta</h1>
    <h2>28 de Abril - 1 de Mayo de 2012</h2>
    <img class="logo" src="images/pincho.png"/>
    <nav>
      <ul>
        <li><a href="{{ site.url }}">Portada</a></li>
        <li><a href="#">Presentación</a></li>
        <li><a href="inscripcion.html">Inscripción</a></li>
        <li><a href="#">Pilotos</a></li>
        <li><a href="open/mangas/1.html">Clasificación</a></li>
        <li><a href="#">Cómo llegar</a></li>
        <li><a href="#">Patrocinadores</a></li>
        <li><a href="archivo.html">Archivo</a></li>
      </ul>
    </nav>

</header>

<div class="article">
<article role="main">
<section>
{{ content }}
</section>
</article>
</div>

</body>
</html>
